<html>
    <head></head>
    <title></title>
    <body>
        <h1>Treinamento - Estrutura de Controle</h1>

        <a href="/" > Voltar a Home</a> <br><br>
        

        <table width="30%">
            <tr>
                <td> <b>Descrição</b></td>
                <td><b>Arquivo</b></td>
            </tr>
            <tr>
                <td>doWhile</td>
                <td><a href="../../Treinamento/ESTRUTURA_CONTROLE/doWhile.js" download="doWhile.js">doWhile.js</a></td>
            </tr>
            <tr>
                <td>doWhile</td>
                <td><a href="../../Treinamento/ESTRUTURA_CONTROLE/for1.js" download="for1.js">for1.js</a></td>
            </tr>
            <tr>
                <td>doWhile</td>
                <td><a href="../../Treinamento/ESTRUTURA_CONTROLE/forIn.js" download="forIn.js">forIn.js</a></td>
            </tr>
            
        </table>
    </body>
</html>