<html>
    <head></head>
    <title></title>
    <body>
        <h1>Treinamento JS</h1>
        <table width="30%">
            <tr>
                <td> <b>Descrição</b></td>
                <td><b>Link</b></td>
            </tr>
            <tr>
                <td>Estrutura de Controle</td>
                <td><a href="/Treinamento" > Acesse os arquivos</link></td>
            </tr>
            <tr>
                <td>Fundamento</td>
                <td> em construção </td>
            </tr>
        </table>
    </body>
</html>